.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}

.page-container{
  display: flex;
  max-width: 2200px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  width: 100%;
}

.searcher{    
    width: 100vw;
    display: flex;
    justify-self: center;
    justify-content: center;
}

.example-card {
    width: 350px;
    margin: 5px;
    padding: 5px;
    display: flex;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .price{
    color: greenyellow;
  }